<div class="content">

  <div class="leftside">
    <h1>
      <%= t(:find_a_recipe) %>
    </h1>
    <h4>
      <%= t(:browse_through) %> <b><%= @recipes.size %> <%= t(:recipes)%></b>
    </h4>

    <script type="text/javascript">
      function make_blank(textbox)
      {
      textbox.value ="";
      }
    </script>

    <div class="<%= params[:locale] == "de" ? "landingsearchholder_gr" : "landingsearchholder"%>">
      <%= form_tag recipes_path, :method => :get, :class => 'recipe_search' do %>
        <%= text_field_tag :q, params[:q], :type => 'text', :value => "#{t(:what_are_you_hungry_for)}", :size => 80, :onclick => "make_blank(this);"%>
        <%= hidden_field_tag "locale", params[:locale] %> <%= hidden_field_tag "supermarket", "Alle" %>
      <%= submit_tag '' %>
    <% end %>

    </div>

  </div>

  <div style="border: 1px solid #D0D0D0;
       float: right;
       padding: 5px;border-radius: 5px 5px 5px 5px;">
    <div class="homepicholder" style="width:475px">
      <img src="assets/noodlepizza.JPG" width="475px" height="322px" />
      <img src="assets/product.jpg" width="475px" height="322px" />
      <img src="assets/black.jpg" width="475px" height="322px" />
      <img src="assets/foodimg.jpg" width="475px" height="322px" />
      <img src="assets/curryimg.jpg" width="475px" height="322px" />
      
    </div>
  </div>
 
</div>

<script type="text/javascript">
  $(document).ready(function() {
  $('.homepicholder').cycle({
  fx: 'fade'
  });
  });
</script>
<style type="text/css">
  .homepicholder { float: right; }
</style>
