<div class="singleunit">
  <label>
    <%= t(:Ingredients)%>
  </label>
  <%= autocomplete_field_tag "ingredient[ingredient][]", "", autocomplete_ingredient_ingredient_recipes_path, :placeholder => "Ingredient", :size => "60" %>
</div>
<div class="singleunit">
  <label>
    <%=t(:Amount)%>
  </label>
  <%= text_field_tag "ingredient[amount][]", "",:onkeypress => "return isNumberKey(event)" %>
</div>
<div class="singleunit">
  <label>
    <%=t(:Unit)%>
  </label>
  <%= text_field_tag "ingredient[unit][]" %>
</div>
<br/><br/>