<img src="images/Ingredient1.jpg" class="bannerimg" />

<div class="search_result_container">
  <script type="text/javascript">
    function make_blank(textbox)
    {
      textbox.value ="";
    }
  </script>
  <div class="head">
    <img src="images/button.png" class="view" alt="Search" />
    <div class="homesearchholder">
      <%= form_tag recipes_path, :method => :get, :class => 'recipe_search', :id => "search_form" do %>
        <%= text_field_tag :q, params[:q].blank? ? "Search" : params[:q], :type => 'text', :onclick => "make_blank(this);" %>
        <%= submit_tag '' %>
      
    </div>
  </div>
  <div style="float:left">
  <div class="mid" style="width:76%;background:none">
    <div class="resultheading" style="border: 1px solid #D8D8D8">
      <span class="lightgreyfont">
        <%= t(:Sort_by)%>:  <%= select_tag "sort", options_for_select([ "#{t(:Newest)}", "A-Z", "Z-A" ], params[:sort]), :onchange => ("$('#search_form').submit()") %>
       <%= @recipes.count %> <%= t(:recipes)%>
      </span>
    </div>
    
    <%if @recipes.blank?%>
      <div class="resultentry" style="border: 1px solid #D8D8D8">
        <div style="margin:10px">
          <%=t (:No_Record_Found)%>
        </div>
      </div>
    <%end%>
    <% @recipes.each do |r| %>
      <div class="resultentry">
        <div class="imgholder">
          <img src="<%=r.photo.url(:thumb)%>" />
        </div>
        <div class="recipe_detail_holder">
          <h3>
            <%= link_to r.title, recipe_path(r) %>
          </h3>
        </div>
        <div class="costholder">
          <span class="currency"></span><br />
          <span class="serving"></span>
        </div>
      </div>
    <%end%>

    <div class="main_pagination" style="border: 1px solid #D8D8D8">

      <b>
        <% unless @recipes.count == 0 %>
          <%if @recipes.count <= 20%>
            <%= "#{@recipes.count} recipes" %>
          <%else%>
            <%= "#{@starting} - #{@ending} of #{@recipes.count} recipes" %>
          <%end%>
        <%end %>
      </b>
      <%= will_paginate @recipes %>
    </div>

  </div>
  <div style="float:left">
    <%= t(:Supermarket)%>:
    <br/>
    <%= select_tag "supermarket", options_for_select([ "Alle", "Aldi Nord"], params[:supermarket]), :onchange => ("$('#search_form').submit()") %>
  </div>
  </div>
  <div class="foot"></div>

</div>
<% end %>
