<div class="content">
  <div class="postboxholder">

    <div class="imgholder">
      <img src="/images/post_recipe_img.png" />
    </div>

    <h1><%=t(:post_your_recipe)%>.</h1>
    <p>
	<%=t(:Your_recipe_is_amazing_and_unique)%><%=t(:Share_it_with_other_so_they_can_enjoy_it_too!)%>
    </p>

    <div class="greybox">
      <%= form_for @recipe, :html => {:onsubmit=> 'return validate();', :multipart => true} do |f|%>

        <div class="upperfileds">
          <div class="topfieldholder">

            <label>
              <%=t(:title)%>:
            </label>
            <%= f.text_field :title %>

          </div>


        </div>
        <h2>
          <%= t(:List_of_ingredients)%>
        </h2>
        <div class="topfieldholder">

          <label>
            <%=t(:Servings)%>:
          </label>
          <%= f.text_field :servings, :style=>"width:70px;", :onkeypress => "return isNumberKey(event)" %>
        </div>
        <div class="ingredientunit">
          <%= fields_for :ingredient do |i| %>
            <div id="repeat_row">
              <%= render :partial => "ingredient" %>
            </div>
          <%end%>
          <div class="singleunit" style="float:none">
            <%= link_to image_tag("addmore.png"), add_ingredient_recipes_path, :remote => true %>
          </div>
        </div>

        <div class="directions">
          <label>
            <%= t(:Directions)%>
          </label>
          <%= f.text_area :directions%>
        </div>

        <div class="browsfld">
          <%= f.file_field :photo %>
  <%#*<input type="text"  /> <input type="button" />%>

        </div>
        <div class="topfieldholder">

          <label>
            <%=t(:Email_Address)%>:
          </label>
          <%= f.text_field :email_address, :style=>"width:150px;" %>
        </div>
        <div class="textInput" id="i_agree_error" style="display:none">
          <span style="margin-left: -210px; opacity: 1;margin-top:405px;">
            <label  generated="true" class="error" style="display: block;">Please accept terms and conditions</label>
          </span>
        </div>
        <div class="agreeholder">
          <%= f.check_box :i_agree %>
          <%= t(:I_agree_to_the_terms_of_use)%>
        </div>
        <%= submit_tag "", :class => "savenc" %>
      <%end%>
    </div>

  </div>
</div>
<script type="text/javascript">
  function isNumberKey(evt)
  {
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;

    return true;
  }
  function validate()
  {
    value = $("#recipe_title").val();
    if(value == "")
    {
      alert("Title can't be blank");
      return false;
    }
    else
    {
      checkbox = $("#recipe_i_agree");
      if(checkbox.is(':checked')) {
        $("#i_agree_error").hide();
        return true;
      }
      else
      {
        $("#i_agree_error").show();
        return false;
      }
    }
    
  }

</script>
