<div class="content">
  <div class="postboxholder">

    <div class="imgholder">
      <img src="/images/post_recipe_img.png" />
    </div>

    <h1>Post you Recipe.</h1>
    <p>
	Your recipe is amazing and unique. Share it with other,<br />
	so they can enjoy it too!
    </p>

    <div class="greybox">
      <% form_for @recipe, :html => {:onsubmit=> 'return validate();', :multipart => true} do |f|%>
        <%= raw(errors_for(@recipe))  %>
        <div class="upperfileds">
          <div class="topfieldholder">

            <label>
              Title:
            </label>
            <%= f.text_field :title %>

          </div>


        </div>
        <h2>
          List of ingredients
        </h2>
        <div class="topfieldholder">

          <label>
            Servings:
          </label>
          <%= f.text_field :servings, :style=>"width:70px;", :onkeypress => "return isNumberKey(event)" %>
        </div>
        <div class="ingredientunit">
          <%= fields_for :ingredient do |i| %>
            <div id="repeat_row">
              <div class="singleunit">
                <label>
                  Ingredient
                </label>
                                <%= i.select( :ingredient, options_from_collection_for_select(Ingredient.all,:id, :ingredient) ) %>
              </div>
              <div class="singleunit">
                <label>
                  Amount
                </label>
                <%= i.text_field :amount, :onkeypress => "return isNumberKey(event)" %>
              </div>
              <div class="singleunit">
                <label>
                  Unit
                </label>
                <%= i.text_field :unit %>
              </div>
              <div>

              </div>
            </div>
          <%end%>
          <div class="singleunit" style="float:none">
            <a href="#" name="addRow"><img src="/images/addmore.png" alt="Add"/></a>
          </div>
        </div>

        <div class="directions">
          <label>
            Directions
          </label>
          <%= f.text_area :directions%>
        </div>

        <div class="browsfld">
          <%= f.file_field :photo %>
          <%#*<input type="text"  /> <input type="button" />%>

        </div>
        <div class="topfieldholder">

          <label>
            Email Address:
          </label>
          <%= f.text_field :email_address, :style=>"width:150px;" %>
        </div>
      <div class="textInput" id="i_agree_error" style="display:none">
        <span style="margin-left: -210px; opacity: 1;margin-top:405px;">
          <label  generated="true" class="error" style="display: block;">Please accept terms and conditions</label>
        </span>
        </div>
        <div class="agreeholder">
          <%= f.check_box :i_agree %>
          I agree to the terms of use
        </div>
        <%= submit_tag "", :class => "savenc" %>
      <%end%>
    </div>

  </div>
</div>
<script type="text/javascript">
    function isNumberKey(evt)
  {
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;

    return true;
  }
  function validate()
  {
    value = $("#recipe_title").val();
    if(value == "")
    {
      alert("Title can't be blank");
      return false;
    }
    else
    {
      checkbox = $("#recipe_i_agree");
      if(checkbox.is(':checked')) {
        $("#i_agree_error").hide();
        return true;
      }
      else
      {
        $("#i_agree_error").show();
        return false;
      }
    }
    
  }

</script>
<script type="text/javascript">
  $("a[name=addRow]").live('click', function (){
    number = Math.floor(Math.random()*1000)
    str = ""
      <% Ingredient.all.each do |i|  %>
        str  += '<option id=' + '<%= i.id %>' + '>'+ '<%= i.ingredient %>' + '</option>'
      <%end%>
    $("div#repeat_row :last").after("<div style='float:left'><div class='singleunit'><label>Ingredient</label><select name='extraingredient_ingredient_"+ number +"'>"+str+"</select></div> <div class='singleunit'><label>Amount </label>  <input type='text' size='30' name='extraingredient_amount_"+ number +"' onkeypress='return isNumberKey(event)'></div><div class='singleunit'><label>Unit</label><input type='text' size='30' name='extraingredient_unit_"+ number +"'> </div></div><div></div>");
    return false;
  });

</script>
