<h2>Forgot your password?</h2>

<%#= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%#= devise_error_messages! %>
  <%#*<br/>%>
  <%#*<br/>%>
  <%#*<div><%= f.label :email %>
    <%#= f.email_field :email %>
  <%#*<br/>%>
  <%#*<br/>%>
  <%#*<div>%>
    <%#= f.submit "", :type => :image, :src => "/assets/resetpassword.png" %>
  <%#*</div>%>
<%# end %>
<div>

<div class="popup">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

        <div class='heading'>
          <a href="#" onclick ="$.modal.close();return false;">     <img class="close" src="/assets/modal-x.png" /></a>
          Reset Password
        </div>
        <div class='whitebg'>
          <p>
            Enter your e-mail address to have the password associated with that account reset.
          </p>
         <%= f.email_field :email, :placeholder => "Email" %>
        </div>
        <div class='foot'>
          <%= f.submit "", :class  => "resetpassword" %>
          <a href="#" onclick ="$.modal.close();return false;">Cancel</a>
        </div>
<% end %>
</div>

</div>