<div class="popup">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <div style="float:left">
  <%= devise_error_messages! %>
</div>
        <div class='heading'>
          Change your password
        </div>
  <%= f.hidden_field :reset_password_token %>
        <div class='whitebg_reset'>
          <p>
            Enter your new password and confirm password.
          </p>
         <%= f.password_field :password, :placeholder => "New Password" %>
          <br/>
         <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
          <br/>
        </div>
        <div class='foot'>
          <%= f.submit "", :class  => "changepassword" %>
        </div>
<% end %>
</div>
<style>
  #error_explanation ul{
   list-style: none;
   margin-left: 5px;
  }
  #error_explanation
  {
    margin-bottom: 10px;
    margin-left: 32px;
  }

</style>
