<p>&nbsp;</p>

<div class="content">

  <div class="txtalcntr">



    <div class="roundedgecontainer logincontainer">

      <h1>
        <%=t(:Sign_In_to)%> Furista
      </h1>

      <p style='padding-top:0px;margin-bottom:20px;'>
			<%=t(:Find_the_best_recipes)%>
      </p>

      <div class="facebookbutton">
        <a href="/auth/facebook" class="services">
          <%= image_tag "facebook-connect-button.png", :alt => "Facebook" %>
        </a>
        <br />
      </div>
      <div class="or">or</div>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.email_field :email, :placeholder => "#{t(:Email_Address)}" %>
        <%= f.password_field :password, :placeholder => "#{t(:Password)}" %>

        <div class="createaccount">
          <% if params[:locale].blank? || params[:locale] == :en %>
          <%= f.submit "", :type => :image, :src => "../images/login.png" %>
          <%else%>
            <%= f.submit "", :type => :image, :src => "../images/login1.png" %>
          <%end%>
        </div>

        <div class="remebermenextime">
          <%= f.check_box :remember_me %>
                          <%=t(:Remember_me_next_time)%>
        </div>

        <p>
          <%= link_to "#{t(:Forgot_your_password?)}", new_password_path(resource_name), :remote => true %> &nbsp;&nbsp;&nbsp;
          <a href="/users/sign_up"><%=t(:Need_an_account)%></a>
        </p>

      </div>

    </div>

  </div>

<% end %>
